<h1>This is the home show</h1>

<h3>Stories</h3>
<ul>
  <% for (var i = 0; i < stories.models.length; i++) { %>
    <li><a href="#/stories/<%= stories.models[i].id %>">
      <%= stories.models[i].escape("title") %>
    </a></li>
  <% } %>
</ul>

<a href="#/stories/new">Create a new story</a>
