<nav id="navbar"></nav>
<div id="content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    Scrivendo.CURRENT_USER = {
      username: "<%= current_user.username %>"
    }

    Scrivendo.initialize();
  });
</script>
