// Place all the styles related to the api/tellings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Critiques styling */

.critique-header {
  display: block;
  margin-bottom: 5px;
}

.critique-header .glyphicon-apple:hover {
  color: red;
}

.critique-body {
  position: relative;
  left: 10px;
}
