<h1><%= story.escape("title") %></h1>

<p>
  <%= story.escape("description") %>
</p>

<!-- This needs to be adjusted to current_user -->
<% if (story.escape("user_id") || true ) { %>
  <a href="#/stories/<%= story.id %>/tellings/new">Tell this story</a>
<% } %>
